/* 1. 覆盖 Element Plus 变量 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #4c956c,
    ),
    'success': (
      'base': #2c6e49,
    ),
    'warning': (
      'base': #ffc9b9,
    ),
    'danger': (
      'base': #d68c45,
    ),
    'error': (
      'base': #d68c45,
    ),
    'info': (
      'base': #4c956c,
    ),
  )
);

/* 2. 引入 Element Plus 所有组件样式（关键） */
@use 'element-plus/theme-chalk/src/index.scss';
