$color-primary: #4c956c;
$color-second: #2c6e49;
$color-info: #fefee3;
$color-warning: #ffc9b9;
$color-error: #d68c45;

:root {
    --el-color-primary: #4c956c;
    --el-color-success: #2c6e49;
    --el-color-info: #fefee3;
    --el-color-warning: #ffc9b9;
    --el-color-danger: #d68c45;
    --el-color-error: #d68c45;
}
