$color-primary: #4c956c;
$color-second: #2c6e49;
$color-info: #fefee3;
$color-warning: #ffc9b9;
$color-error: #d68c45;

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#app {
    width: 100%;
    height: 100%;
}
